.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 20%;
  height: 17em;

  border: 2px solid var(--grayLine);
  border-radius: 10px;
}

.greetings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 1em;
}

.text {
  font-size: 1.25em;
  margin-bottom: 0.75em;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  height: 5em;
  width: 12em;
}

.editButton {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--yellow);
  border: 1px solid var(--yellow);
  border-radius: 10px;

  width: 11.5em;
  height: 2em;

  font-size: 0.95em;

  transition: filter 0.3s;

  cursor: pointer;
}

.editButton:hover {
  filter: brightness(0.85);
}

.logOutButton {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--red);
  border: 1px solid var(--red);
  border-radius: 10px;

  width: 11.5em;
  height: 2em;

  font-size: 0.95em;

  transition: filter 0.3s;

  cursor: pointer;
}

.logOutButton:hover {
  filter: brightness(0.85);
}

.icon {
  width: 1em;
  height: auto;

  margin-right: 0.5em;
}
